@charset 'utf-8';

@use 'var' as var;
@use 'mixin' as mix;

main {
  max-width: 1280px;
}

html {
  font-family:  Yugothic, sans-serif;
  font-feature-settings: "palt";
}

img {
  width: 100%;
  height: auto;
}

// PC幅

.main-view {
  background-image: url(../img/pcImage.jpg);
  background-repeat: no-repeat;
  background-position: top;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  &__container {
    width: 50%;
    display: grid;
    place-items: center;
    padding: 20px;
  }
}

.main-view__copy {
  margin-top: 160px;
  margin-left: 40px;
  &--main {
  font-family: Puritan;
  font-size: 80px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
  }
  &--sub {
  font-family: Yugothic;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 120px;
  }
}

.cta-button {
  @include mix.buttonStyle {
    &__Copy {
      display: inline-block;
      &--sub {
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
      }
      &--main {
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

// 

// SP幅

.sp-container {
  height: 10000px;
  width: 480px;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  right: 140px;
  overflow: hidden;
}


.lead {
  width: 100%;
  height: 600px;
  background-color: var.$orange;
  text-align: center;
  &__title {
    font-size: 32px;
    color: var.$white;
    font-weight: bold;
    padding-top: 72px;
  }
  &__article {
    font-size: 16px;
    line-height: 1.6;
    color: var.$white;
    text-align: left;
    width: 80%;
    margin: 72px auto;
  }
  &__image {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    background-color: #ccc;
    // img {
    //   // object-fit coverではみ出すのはなぜ？？
    //   width: 100%;
    //   border-radius: 20px;
    // }
  }
}

.reason {
  width: 80%;
  margin: 200px auto 80px;
  text-align: center;
  &__copy {
    font-size: 40px;
    color: var.$orange;
    font-weight: bold;
  }
  span {
  font-family: Yugothic;
  font-size: 20px;
  color: var.$black;
  font-weight: bold;
  }
  &__description {
    dt {
      font-weight: bold;
      color: var.$green;
      margin: 40px auto 24px;
      span {
        font-size: 20px;
        color: var.$green;
      }
      strong {
        font-size: 32px;
        border-bottom: 1px solid var.$green;
      }
    }
    dd {
      font-size: 16px;
      text-align: left;
      line-height: 1.6;
    }
  }
  &__description-image {
    width: 100%;
    height: 366px;
    // position: relative;
    // margin: 80px auto;
    padding: 0 14px;

    &-inner {
      position: relative;
      height: 100%;
    }

    &-item {
      position: absolute;
      width: 75.84%;
    }

    &-item:first-child {
      bottom: 0;
      left: 0;
    }

    &-item:last-child {
      bottom: 20px;
      right: 10px;

      > img {
        transform: rotate(6deg);
      }
    }

    // &--1 {
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   width: 73%;
    //   background-color: #333;
    // }

    // &--2 {
    //   position: absolute;
    //   bottom: -10px;
    //   left: 20px;
    //   width: 73%;
    //   background-color: #ccc;
    //   transform: rotate(10deg);
    // }
  }
}

.cta  {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  &__bg {
    position: absolute;
    width: 200%;
    height: 100%;
    background-color: var.$orange;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

}
.bg-copy {
  position: absolute;
  font-size: 100px;
  color: var.$orange;
  font-weight: bold;
  text-align: center;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.assurance {
  padding: 110px 30px 0;
  position: relative;
  &__title {
    text-align: center;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
  }
  &__article {
    font-size: 16px;
    line-height: 1.6;
  }
}