@charset 'utf-8';

@use 'var' as var;
@use 'mixin' as mix;

*, *::before, *::after {
  box-sizing: border-box
}

main {
  max-width: 1280px;
}

html {
  font-family:  'Montserrat', 'Yugothic', sans-serif;
  font-feature-settings: "palt";
}

img {
  width: 100%;
  height: auto;
}

// PC幅

.main-view {
  background-image: url(../img/pcImage.jpg);
  background-repeat: no-repeat;
  background-position: top;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  &__container {
    width: 60%;
    display: grid;
    place-items: center;
    padding: 20px;
  }
}

.main-view__copy {
  margin-top: 160px;
  &--main {
  font-family: Montserrat;
  font-size: 72px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
  }
  &--sub {
  font-family: Yugothic;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 120px;
  }
}

.cta-button {
  @include mix.buttonStyle {
    &__Copy {
      display: inline-block;
      &--sub {
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        margin-bottom: 8px;
      }
      &--main {
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

// 

// SP幅

.sp-container {
  height: 10000px;
  width: 480px;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  right: 120px;
  overflow: hidden;
}


.lead {
  width: 100%;
  height: 600px;
  background-color: var.$orange;
  text-align: center;
  &__title {
    font-size: 32px;
    color: var.$white;
    font-weight: bold;
    padding-top: 72px;
  }
  &__article {
    font-size: 16px;
    line-height: 1.6;
    color: var.$white;
    text-align: left;
    width: 85%;
    margin: 72px auto;
  }
  &__image {
    width: 80%;
    margin: 0 auto;
    background-color: #ccc;
    border-radius: 20px;
    img {
      border-radius: 20px;
    }
  }
}

.reason {
  width: 85%;
  margin: 160px auto 80px;
  text-align: center;
  &__copy {
    font-size: 40px;
    color: var.$orange;
    font-weight: bold;
  }
  span {
  font-family: Yugothic;
  font-size: 20px;
  color: var.$black;
  font-weight: bold;
  }
  &__description {
    margin-bottom: 80px;
    dt {
      font-weight: bold;
      color: var.$green;
      margin: 40px auto 24px;
      span {
        font-size: 20px;
        color: var.$green;
      }
      strong {
        font-size: 32px;
        border-bottom: 1px solid var.$green;
      }
    }
    dd {
      font-size: 16px;
      text-align: left;
      line-height: 1.6;
    }
  }
  &__description-image {
    width: 100%;
    height: 366px;
    padding: 0 14px;
    margin: 60px auto;
    &-inner {
      position: relative;
      height: 100%;
    }
    &-item {
      position: absolute;
      width: 75.84%;
    }
    &-item:first-child {
      bottom: 0;
      left: 0;
      opacity: 0.3;
    }
    &-item:last-child {
      bottom: 20px;
      right: 10px;
      > img {
        transform: rotate(6deg);
      }
    }
  }
}

.cta {
  // background-color: var.$orange;
  width: 100%;
  height: 770px;
  position: relative;
  &__copy {
    position: relative;
    padding-top: 100px;
    &--main {
      text-align: center;
      color: #fff;
      font-weight: bold;
      span {
        font-size: 16px;
      }
      strong {
        font-size: 32px;
      }
    }
    &--sub {
      width: 150px;
      height: 45px;
      position: absolute;
      bottom: -30px;
      left: 60%;
      transform: translate(-50%, 0%);
      // transform: rotate(-4deg);
    }
  }
  &__inner {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 80px;
    &-image {
      width: 140px;
      height: 100px;
      margin-right: 16px;
    }
    &-text {
      color: #fff;
      font-weight: bold;
      line-height: 1.6;
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 16px;
      }
      small {
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
  &__btn {
    width: 390px;
    height: 70px;
    border: 1px solid var.$white;
    display: grid;
    place-content: center;
    margin: 0 auto;
    p {
      color: var.$white;
      font-weight: bold;
    }
  }
}
.cta-bg {
  background-color: var.$orange;
  height: 800px;
  width: 960px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  left: -50%;
}


.bg-copy {
  position: absolute;
  font-size: 100px;
  color: var.$orange;
  font-weight: bold;
  text-align: center;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.1;
}

.assurance {
  padding-top: 160px;
  width: 85%;
  margin: 0 auto;
  position: relative;
  &__title {
    text-align: center;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
  }
  &__text {
    font-size: 16px;
    line-height: 1.6;
    span {
      color: var.$orange;
      font-weight: bold;
    }
  }
}

.message {
  position: relative;
  width: 100%;
  height: 900px;
  background-color: #419158;
  padding-top: 80px;
  border-radius: 60px;
  margin-top: 80px;
  z-index: 10;
  &__copy {
    text-align: center;
    color: var.$white;
    sapn {
      font-size: 20px;
    }
    strong {
      display: inline-block;
      margin-top: 8px;
      font-size: 32px;
      line-height: 1.6;
    }
  }
  &__item {
    width: 80%;
    margin: 24px auto;
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--title {
      color: var.$white;
      line-height: 1.6;
      order: 2;
      h3{
        font-size: 20px;
        font-weight: bold;
      }
      small {
        font-size: 14px;
      }
    }
    &--image {
      order: 1;
      width: 180px;
      height: 180px;
      display: grid;
      place-items: center;
      margin-right: 16px;
    }
    &--text {
      color: var.$white;
      line-height: 1.6;
    }
  }
}

.slide {
  position: relative;
  width: 100%;
  height: auto;
  margin: -20px;

  animation: loop-slide 20s infinite linear 2s both;

  &__image--1, &__image--2 {
    display: flex;
    justify-content: center;
    align-items: center;

    // gap: 16px;
    // width: 100vw;
    // margin: 0 calc(50% - 50vw) 16px;
  }
  // &__image--2 {
  //   margin: 0 calc(45% - 50vw);
  // }
  &__image-item {
    margin-right: 16px;
    width: 160px;
    height: 100px;
  }
}

.slide-wrap1 {
  display: flex;
  align-items: center;
  width: 100vw;
  height: auto;
  margin: 0 calc(50% - 50vw) 16px;
}

.slide-wrap2 {
  display: flex;
  align-items: center;
  width: 100vw;
  height: auto;
  margin: 0 calc(40% - 50vw) 16px;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.faq {
  position: relative;
  margin-bottom: 80px;
}

.faq__title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 64px;
    span {
      font-size: 16px;
      font-weight: normal;
    }
  }

.faq__item {
  width: 85%;
  margin: 40px auto;
  &--question {
    font-weight: bold;
    color: var.$green;
    &::before {
      content: 'Q';
      padding: 12px 13px;
      font-size: 18px;
      font-weight: bold;
      background-color: var.$green;
      border-radius: 50%;
      color: var.$white;
      margin-right: 16px;
    }
  }
  &--answer {
    line-height: 1.6;
    margin-top: 32px;
    &-inner {
      display: flex;
    }
    &-icon {
      // width: 42px;
      // height: 42px;
      width: 10%;
      height: 42px;
      border: 2px solid var.$orange;
      border-radius: 50%;
      background-color: #fff;
      display: grid;
      place-items: center;
      color: var.$orange;
      font-weight: bold;
      margin-right: 16px;
    }
    &-text {
      width: 83%;
    }
  }
}