@charset 'utf-8';

@use 'var' as var;
@use 'mixin' as mix;

main {
  max-width: 1280px;
}

// PC幅

.pcWindow {
  background-image: url(../img/pcImage.jpg);
  background-repeat: no-repeat;
  background-position: top;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.container {
  width: 50%;
  display: grid;
  place-items: center;
  padding: 20px;
  .copy {
    margin-top: 160px;
    margin-left: 40px;
    .mainCopy {
      font-family: Puritan;
      font-size: 80px;
      color: #fff;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 20px;
    }
    .subCopy {
      font-family: Yugothic;
      font-size: 20px;
      color: #fff;
      font-weight: bold;
      margin-bottom: 120px;
    }
  }
  .ctaButton {
    @include mix.buttonStyle {
      .ctaCopy {
        display: inline-block;
        .ctaCopy_sub {
          color: #fff;
          font-weight: bold;
          font-size: 16px;
          text-align: center;
        }
        .ctaCopy_main {
          color: #fff;
          font-weight: bold;
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }
}

// 

// SP幅

.spWindow {
  height: 10000px;
  width: 35%;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  right: 140px;
}

.lead {
  width: 100%;
  height: 600px;
  background-color: var.$orange;
  text-align: center;
  .leadTitle {
    font-family: Yugothic;
    font-size: 28px;
    color: var.$white;
    font-weight: bold;
    padding-top: 72px;
  }
  .leadArticle {
    font-family: Yugothic;
    font-size: 18px;
    line-height: 1.6;
    color: var.$white;
    text-align: left;
    width: 80%;
    margin: 72px auto;
  }
  .leadImage {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    background-color: #ccc;
    // img {
    //   // object-fit coverではみ出すのはなぜ？？
    //   width: 100%;
    //   border-radius: 20px;
    // }
  }
}


