*, *::before, *::after {
  box-sizing: border-box;
}

main {
  max-width: 1280px;
}

html {
  font-family: Yugothic, sans-serif;
  font-feature-settings: "palt";
}

img {
  width: 100%;
  height: auto;
}

.main-view {
  background-image: url(../img/pcImage.jpg);
  background-repeat: no-repeat;
  background-position: top;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.main-view__container {
  width: 50%;
  display: grid;
  place-items: center;
  padding: 20px;
}

.main-view__copy {
  margin-top: 160px;
  margin-left: 40px;
}
.main-view__copy--main {
  font-family: Puritan;
  font-size: 80px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
}
.main-view__copy--sub {
  font-family: Yugothic;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 120px;
}

.cta-button {
  background-color: #e9663e;
  padding: 24px 45px;
  border-radius: 50px;
  display: grid;
  place-items: center;
}
.cta-button__Copy {
  display: inline-block;
}
.cta-button__Copy--sub {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.cta-button__Copy--main {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.sp-container {
  height: 10000px;
  width: 480px;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  right: 140px;
  overflow: hidden;
}

.lead {
  width: 100%;
  height: 600px;
  background-color: #e9663e;
  text-align: center;
}
.lead__title {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  padding-top: 72px;
}
.lead__article {
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  text-align: left;
  width: 85%;
  margin: 72px auto;
}
.lead__image {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  background-color: #ccc;
}

.reason {
  width: 85%;
  margin: 200px auto 80px;
  text-align: center;
}
.reason__copy {
  font-size: 40px;
  color: #e9663e;
  font-weight: bold;
}
.reason span {
  font-family: Yugothic;
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
.reason__description dt {
  font-weight: bold;
  color: #027552;
  margin: 0 auto 24px;
}
.reason__description dt span {
  font-size: 20px;
  color: #027552;
}
.reason__description dt strong {
  font-size: 32px;
  border-bottom: 1px solid #027552;
}
.reason__description dd {
  font-size: 16px;
  text-align: left;
  line-height: 1.6;
}
.reason__description-image {
  width: 100%;
  height: 366px;
  padding: 0 14px;
  margin: 60px auto;
}
.reason__description-image-inner {
  position: relative;
  height: 100%;
}
.reason__description-image-item {
  position: absolute;
  width: 75.84%;
}
.reason__description-image-item:first-child {
  bottom: 0;
  left: 0;
}
.reason__description-image-item:last-child {
  bottom: 20px;
  right: 10px;
}
.reason__description-image-item:last-child > img {
  transform: rotate(6deg);
}

.cta {
  width: 100%;
  height: 770px;
  position: relative;
}
.cta__copy {
  position: relative;
  padding-top: 100px;
}
.cta__copy--main {
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.cta__copy--main span {
  font-size: 16px;
}
.cta__copy--main strong {
  font-size: 32px;
}
.cta__copy--sub {
  width: 150px;
  height: 45px;
  position: absolute;
  bottom: -30px;
  left: 60%;
  transform: translate(-50%, 0%);
}
.cta__inner {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 80px;
}
.cta__inner-image {
  width: 140px;
  height: 100px;
  margin-right: 16px;
}
.cta__inner-text {
  color: #fff;
  font-weight: bold;
  line-height: 1.6;
}
.cta__inner-text h3 {
  font-size: 18px;
}
.cta__inner-text p {
  font-size: 16px;
}
.cta__inner-text small {
  font-size: 14px;
  font-weight: normal;
}
.cta__btn {
  width: 390px;
  height: 70px;
  border: 1px solid #fff;
  display: grid;
  place-content: center;
  margin: 0 auto;
}
.cta__btn p {
  color: #fff;
  font-weight: bold;
}

.cta-bg {
  background-color: #e9663e;
  height: 800px;
  width: 960px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  left: -50%;
}

.bg-copy {
  position: absolute;
  font-size: 100px;
  color: #e9663e;
  font-weight: bold;
  text-align: center;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.1;
}

.assurance {
  padding-top: 160px;
  width: 85%;
  margin: 0 auto;
  position: relative;
}
.assurance__title {
  text-align: center;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}
.assurance__article {
  font-size: 16px;
  line-height: 1.6;
}

.message {
  position: relative;
  width: 100%;
  height: 900px;
  background-color: #419158;
  padding-top: 80px;
  border-radius: 60px;
  margin-top: 80px;
  z-index: 10;
}
.message__copy {
  text-align: center;
  color: #fff;
}
.message__copy sapn {
  font-size: 20px;
}
.message__copy strong {
  display: inline-block;
  margin-top: 8px;
  font-size: 32px;
  line-height: 1.6;
}
.message__item {
  width: 80%;
  margin: 24px auto;
}
.message__item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.message__item--title {
  color: #fff;
  line-height: 1.6;
  order: 2;
}
.message__item--title h3 {
  font-size: 20px;
  font-weight: bold;
}
.message__item--title small {
  font-size: 14px;
}
.message__item--image {
  order: 1;
  width: 180px;
  height: 180px;
  display: grid;
  place-items: center;
  margin-right: 16px;
}
.message__item--text {
  color: #fff;
  line-height: 1.6;
}

.slide {
  position: relative;
  width: 100%;
  height: auto;
  margin: -20px;
}
.slide__image--1, .slide__image--2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100vw;
  margin: 0 calc(50% - 50vw) 16px;
}
.slide__image--2 {
  margin: 0 calc(45% - 50vw);
}

.faq {
  position: relative;
}

.faq__title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
}
.faq__title span {
  font-size: 16px;
  font-weight: normal;
}

.faq__item {
  width: 85%;
  margin: 40px auto;
}
.faq__item--question {
  font-weight: bold;
  color: #027552;
}
.faq__item--question::before {
  content: "Q";
  padding: 12px 13px;
  font-size: 18px;
  font-weight: bold;
  background-color: #027552;
  border-radius: 50%;
  color: #fff;
  margin-right: 16px;
}
.faq__item--answer {
  line-height: 1.6;
  margin-top: 32px;
  font-weight: bold;
}
.faq__item--answer-inner {
  display: flex;
}
.faq__item--answer-icon {
  width: 10%;
  height: 42px;
  border: 2px solid #e9663e;
  border-radius: 50%;
  background-color: #fff;
  display: grid;
  place-items: center;
  color: #e9663e;
  font-weight: bold;
  margin-right: 16px;
}
.faq__item--answer-text {
  width: 84%;
}/*# sourceMappingURL=style.css.map */