*, *::before, *::after {
  box-sizing: border-box;
}

main {
  max-width: 1280px;
}

html {
  font-family: "Montserrat", "Yugothic", sans-serif;
  font-feature-settings: "palt";
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}

.main-view {
  background-image: url(./img/pcImage.jpg);
  background-repeat: no-repeat;
  background-position: top;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.main-view__container {
  width: 60%;
  padding: 40px;
}
@media screen and (max-width: 1280px) {
  .main-view__container {
    width: 50%;
  }
}
@media screen and (max-width: 1100px) {
  .main-view__container {
    width: 40%;
  }
}
@media screen and (max-width: 959px) {
  .main-view__container {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .main-view--sp {
    display: none;
  }
}

.main-view__copy {
  padding-top: 140px;
}
.main-view__copy--main {
  font-family: Montserrat;
  font-size: 72px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 20px;
}
@media screen and (max-width: 960px) {
  .main-view__copy--main {
    font-size: 48px;
    text-align: center;
  }
}
.main-view__copy--sub {
  font-family: Yugothic;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 120px;
}
@media screen and (max-width: 960px) {
  .main-view__copy--sub {
    font-size: 16px;
    text-align: center;
  }
}

.cta-button {
  background-color: #e9663e;
  padding: 24px 50px;
  border-radius: 50px;
  display: grid;
  place-items: center;
  width: 400px;
}
.cta-button__Copy {
  display: inline-block;
  text-align: center;
}
.cta-button__Copy--sub {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}
@media screen and (max-width: 960px) {
  .cta-button__Copy--sub {
    font-size: 14px;
  }
}
.cta-button__Copy--main {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 960px) {
  .cta-button__Copy--main {
    font-size: 16px;
  }
}
.cta-button:hover {
  transition: 0.5s;
  background-color: #fff;
}
.cta-button:hover .cta-button__Copy--main, .cta-button:hover .cta-button__Copy--sub {
  color: #e9663e;
}
@media screen and (max-width: 1100px) {
  .cta-button {
    width: 300px;
  }
}
.cta-button--sp {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #e9663e;
  padding: 24px 50px;
  border-radius: 50px;
  display: grid;
  place-items: center;
  width: 400px;
  padding: 10px 24px;
  width: 300px;
}

.sp-container {
  width: 480px;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  right: 100px;
  overflow: hidden;
}
@media screen and (max-width: 579px) {
  .sp-container {
    left: 0;
  }
}

.main-view--sp {
  width: 100%;
  height: 100vh;
  background-image: url(./img/pcImage2.jpg);
  background-repeat: no-repeat;
  background-position: 0 -100px;
  margin: 0 auto;
}

.lead {
  width: 100%;
  height: 600px;
  background-color: #e9663e;
  text-align: center;
}
.lead__title {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  padding-top: 72px;
}
.lead__article {
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  text-align: left;
  width: 85%;
  margin: 72px auto;
}
.lead__image {
  width: 80%;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 20px;
}
.lead__image img {
  -o-object-position: -20px -90px;
     object-position: -20px -90px;
  width: 600px;
  border-radius: 20px;
}

.reason {
  width: 85%;
  margin: 160px auto 80px;
  text-align: center;
}
.reason__copy {
  font-size: 40px;
  color: #e9663e;
  font-weight: bold;
}
.reason span {
  font-family: Yugothic;
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
.reason__description {
  margin-bottom: 80px;
}
.reason__description dt {
  font-weight: bold;
  color: #027552;
  margin: 40px auto 24px;
}
.reason__description dt span {
  font-size: 20px;
  color: #027552;
}
.reason__description dt strong {
  font-size: 32px;
  border-bottom: 1px solid #027552;
}
.reason__description dd {
  font-size: 16px;
  text-align: left;
  line-height: 1.6;
}
.reason__description-image {
  width: 100%;
  height: 366px;
  padding: 0 14px;
  margin: 0px auto 40px;
}
.reason__description-image-inner {
  position: relative;
  height: 100%;
  margin: 0 auto;
}
.reason__description-image-item {
  position: absolute;
  width: 60%;
}
.reason__description-image-item:first-child {
  bottom: 0;
  left: 0;
  left: 50%;
  transform: translateX(-60%);
  opacity: 0.3;
}
.reason__description-image-item:last-child {
  bottom: 20px;
  right: 50px;
}
.reason__description-image-item:last-child > img {
  transform: rotate(6deg);
}

.cta {
  width: 100%;
  height: 770px;
  position: relative;
}
.cta__copy {
  position: relative;
  padding-top: 100px;
}
.cta__copy--main {
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.cta__copy--main span {
  font-size: 16px;
}
.cta__copy--main strong {
  font-size: 32px;
}
.cta__copy--sub {
  width: 150px;
  height: 45px;
  position: absolute;
  bottom: -30px;
  left: 60%;
  transform: translate(-50%, 0%);
}
.cta__inner {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 80px;
}
.cta__inner-image {
  width: 140px;
  height: 100px;
  margin-right: 16px;
}
.cta__inner-text {
  color: #fff;
  font-weight: bold;
  line-height: 1.6;
}
.cta__inner-text h3 {
  font-size: 18px;
}
.cta__inner-text p {
  font-size: 16px;
}
.cta__inner-text small {
  font-size: 14px;
  font-weight: normal;
}
.cta__btn {
  width: 390px;
  height: 70px;
  border: 1px solid #fff;
  display: grid;
  place-content: center;
  margin: 0 auto;
  border-radius: 5px;
}
.cta__btn p {
  color: #fff;
  font-weight: bold;
}
.cta__btn:hover {
  transition: 0.8s;
  background-color: #fff;
}
.cta__btn:hover p {
  color: #e9663e;
}

.cta-bg {
  background-color: #e9663e;
  height: 800px;
  width: 960px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  left: -50%;
}

.bg-copy {
  position: absolute;
  font-size: 100px;
  color: #e9663e;
  font-weight: bold;
  text-align: center;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.1;
}

.assurance {
  padding-top: 160px;
  width: 85%;
  margin: 0 auto;
  position: relative;
}
.assurance__title {
  text-align: center;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}
.assurance__text {
  font-size: 16px;
  line-height: 1.6;
}
.assurance__text span {
  color: #e9663e;
  font-weight: bold;
}

.message {
  position: relative;
  width: 100%;
  height: 900px;
  background-color: #419158;
  padding-top: 80px;
  border-radius: 60px;
  margin-top: 80px;
  z-index: 10;
}
.message__copy {
  text-align: center;
  color: #fff;
}
.message__copy sapn {
  font-size: 20px;
}
.message__copy strong {
  display: inline-block;
  margin-top: 8px;
  font-size: 32px;
  line-height: 1.6;
}
.message__item {
  width: 80%;
  margin: 24px auto;
}
.message__item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.message__item--title {
  color: #fff;
  line-height: 1.6;
  order: 2;
}
.message__item--title h3 {
  font-size: 20px;
  font-weight: bold;
}
.message__item--title small {
  font-size: 14px;
}
.message__item--image {
  order: 1;
  width: 180px;
  height: 180px;
  display: grid;
  place-items: center;
  margin-right: 16px;
}
.message__item--text {
  color: #fff;
  line-height: 1.6;
}

.slide {
  position: relative;
  width: 100%;
  height: auto;
  margin: -20px;
}
.slide__image--1, .slide__image--2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide__image-item {
  margin-right: 16px;
  width: 160px;
  height: 100px;
  border-radius: 5px;
}
.slide__image-item img {
  border-radius: 5px;
}

.slide.top {
  animation: loop-slide-1 10s infinite linear 2s both;
  padding-bottom: 16px;
}

.slide.bottom {
  animation: loop-slide-2 10s infinite linear 2s both;
}

.slide-wrap {
  display: flex;
  align-items: center;
  width: 100vw;
  height: auto;
  margin: 0 calc(50% - 50vw) 16px;
}

@keyframes loop-slide-1 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes loop-slide-2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.faq {
  position: relative;
  margin-bottom: 80px;
}

.faq__title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 64px;
}
.faq__title span {
  font-size: 16px;
  font-weight: normal;
}

.faq__item {
  width: 85%;
  margin: 40px auto;
}
.faq__item--question {
  font-weight: bold;
  color: #027552;
}
.faq__item--question::before {
  content: "Q";
  padding: 10px 13px;
  font-size: 18px;
  font-weight: bold;
  background-color: #027552;
  border-radius: 50%;
  color: #fff;
  margin-right: 16px;
}
.faq__item--answer {
  line-height: 1.6;
  margin-top: 32px;
}
.faq__item--answer-inner {
  display: flex;
}
.faq__item--answer-icon {
  width: 10%;
  height: 42px;
  border: 2px solid #e9663e;
  border-radius: 50%;
  background-color: #fff;
  display: grid;
  place-items: center;
  color: #e9663e;
  font-weight: bold;
  margin-right: 16px;
}
.faq__item--answer-text {
  width: 83%;
  font-family: Yugothic;
}

.last-copy {
  width: 85%;
  height: auto;
  padding-bottom: 120px;
  margin: 120px auto 0;
}
.last-copy p {
  text-align: center;
  font-size: 56px;
  color: #027552;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.char {
  transform: translateY(200px);
  transition: transfrom 0.5s;
}

.footer {
  width: 100%;
  height: 230px;
  background-color: #333333;
}
.footer ul {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5d5d5d;
  padding-top: 50px;
  padding-bottom: 60px;
}
.footer ul li {
  color: #f1f1f1;
  font-size: 12px;
}
.footer ul li:not(:last-child) {
  padding-right: 16px;
  border-right: 1px solid #f1f1f1;
}

.footer-text {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
}
.footer-text .logo {
  width: 100px;
  height: 30px;
}
.footer-text .sub-copy {
  color: #fff;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */